<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>世界树-病残树叶检测</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="title">世界树</div>
            <div class="upload">
                <form action="/result" method="post" enctype="multipart/form-data">
                    <div class="input-wrapper">
                        <input type="file" name="file" id="image-upload" accept=".jpg,.jpeg,.png">
                    </div>
                    <div class="button">
                        <button type="submit" class="button">开始检测</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h2>病残树叶检测</h2>
            </div>
            <div class="image-preview">
                <img id="preview-image" class="preview-img" src="static/image/loading.JPG">
            </div>
            <div class="table-container">
                <table>
                    <tbody>
                        <tr>
                            <td>序号</td>
                            <td>模型</td>
                            <td>结果</td>
                            <td>数量</td>
                            <td>平均置信度</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>yolov5s_未优化</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>yolov5s_已优化</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const detectButton = document.getElementById('detect-button');
            detectButton.addEventListener('click', () => {
                // 在这里添加按钮点击后的逻辑代码
                // 可以执行检测操作或其他相关操作
                console.log('按钮被点击了！');
            });
        });
    </script>

</body>
</html>
